src/main/resources/application.properties
config_secrets.php

uploads/*
!uploads/.gitkeep
*.png
*.jpg
*.jpeg

*.class
*.log

*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.utils_backup
pom.xml.v
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

.idea/
*.iml
.classpath
.project
.settings/
.vscode/
bin/

.DS_Store
Thumbs.db